In [ ]:
# Table of Contents
# 1. Import Dependencies
# 2. Adding columns based on conditions from previous columns

In [ ]:
# 1. Import Dependencies
import numpy as np

In [ ]:
# 2. Adding columns based on conditions from previous columns

# Add column based on condition from previous columns

conditions = [
    (df['Age'] < 20),
    (df['Age'] >= 20) & (df['Age'] < 40),
    (df['Age'] >= 40) & (df['Age'] < 59),
    (df['Age'] >= 60)
]

values = ['<20 years old', '20-39 years old', '40-59 years old', '60+ years old']

df['Age Group'] = np.select(conditions, values)

print(df)



      Name  Age Birth City Gender        Age Group
0     Jane   23     London      F  20-39 years old
1  Melissa   45      Paris      F  40-59 years old
2     John   35    Toronto      M  20-39 years old
3     Matt   64    Atlanta      M    60+ years old

#https://datagy.io/pandas-conditional-column/